div.homeTab {

    text-align: center;


}
img.make-it-fit {
    max-width: 99%;
    max-height: 99%;
    width: 100%;
    height: 100%;
}
#infopinboard{
	float: right;
	overflow: auto;
	width: 500px;
}

.pinboardlist{
	width: 200px;

}