div.homeTab {
    text-align: center;
}

img.make-it-fit {
    max-width: 99%;
    max-height: 99%;
    width: 100%;
    height: 100%;
}

#infopinboard{
	float: right;
	overflow: auto;
	width: 500px;
}

.pinboardlist{
	width: 200px;
}

.pinboardimg{
	width: 100%;
	height: 100vh;
}

.pinboardweergeven{
	width: 100%;
	height: 100%;
	position: relative;
	left: 0px;
	top:0px;
}

#afbeeldingpinboard{
	width: 35%;
	height: 60%;
	position: absolute;
	left: 15%;
	top:20%;
	background-color: white;
	transform: rotate(2deg);
}

#afbeeldingpinboard img{
	position: absolute;
	max-width: 90%;
	max-height: 70%;
	left: 5%;
	right: 5%;
	top: 25%;
    margin: auto;
}

.pinboardpictures h2{
	margin-left: 5%;
}

.pinboardpictures p{
	margin-right: 5%; 
	text-align: right;
}

.pinboardinfo h1{
	color: white;
	position: absolute;
	top: 5%;
	left: 5%;
	transform: rotate(353deg);
	text-shadow: 2px 2px #000000;
}

.pinboardinfo h1:nth-child(2) {
	float: right;
	left: 75%;
	transform: rotate(7deg);
}
.pinboardSettings{
	position: absolute;
	top: 1%;
	left: 0;
	max-width: 2%;
}
.pinboardSettings img{
	opacity: 0.5;
	width: 100%;
	height: 33%;

}
.pinboardSettings img:hover{
	opacity: 1;
}


