#codevisible{
	width: 170px;
	height: 250px;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
	text-align: center;
}
#codevisible > button{
	width: 150px;
	height: 50px;
}
#codevisible > input{
	width: 150px;
	height: 30px;
}
#codevisible > h2{
	width: 150px;
}

#gofullsite {
	position: fixed;
	bottom: 0;
	right: 10px;
}

body{
	background-color: rgb(179, 0, 71);
}
#direct_upload_jquery{
	display: none;
	width: 570px;
	height: 450px;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;

	border: dotted;
	text-align: center
}